/* Start JavaScript classes */

.hub-slider {
   // Class for JavaScript
   .remove-arrows-style {
      transform: none !important;
      transform: translateY(-50%) !important;
      transition: none !important;
      border: none !important;
      width: auto !important;
      height: auto !important;
      opacity: 1 !important;
   }
}

/* End JavaScript classes */
